@import "base";
@import "variables";
@import "components";
@import "utilities";
@import "header";
@import "footer";
@import "home-specific/collection";
@import "home-specific/why";
@import "howitworks";
@import "about-specific/commitment.scss";
@import "about-specific/uncompromising.scss";
@import "about-specific/hq.scss";

// HOW IT WORKS SECTION
.how {
  margin-bottom: 7rem;
  &__heading {
  }
  &__line-decor {
  }
  &__steps-container {
  }

  &__item {
    &-number {
    }
    &-heading {
    }
    &-description {
    }
  }
  &__btn {
  }
}
// HOW IT WORKS MEDIA QUERIES TABLET

@media only screen and (max-width: 46rem) {
  .how {
    margin-bottom: 7rem;
    &__heading {
    }
    &__line-decor {
    }
    &__steps-container {
    }

    &__item {
      &-number {
      }
      &-heading {
      }
      &-description {
      }
    }
    &__btn {
    }
  }
}

// HOW IT WORKS MEDIA QUERIES MOBILE
@media only screen and (max-width: 35rem) {
  .how {
    margin-bottom: 7rem;
    &__heading {
    }
    &__line-decor {
    }
    &__steps-container {
    }

    &__item {
      &-number {
      }
      &-heading {
      }
      &-description {
      }
    }
    &__btn {
    }
  }
}
