*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #fefcf6; }

.title-alternate {
  font-family: "Fraunces", serif;
  font-size: 9rem;
  line-height: 6rem;
  font-weight: 900;
  text-transform: lowercase;
  color: #848990;
  padding-top: 2rem; }

.heading-1 {
  font-family: "Fraunces", serif;
  font-size: 4.5rem;
  line-height: 4.5rem; }

.heading-2 {
  font-family: "Fraunces", serif;
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 900; }

.heading-3 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 900; }

.heading-4 {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  line-height: 2rem; }

.body-text {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400; }

.nav-link {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.92px;
  line-height: 0.9375rem;
  text-decoration: none; }

@media only screen and (max-width: 46rem) {
  .title-alternate {
    font-size: 5.1rem;
    margin-bottom: -1.5rem; }
  .heading-1 {
    font-size: 3rem;
    line-height: 3rem; }
  .heading-2 {
    font-size: 2rem;
    line-height: 3rem; }
  .heading-3 {
    font-size: 1.5rem;
    line-height: 2rem; }
  .heading-4 {
    font-size: 1.5rem;
    line-height: 2rem; }
  .body-text {
    font-size: 0.9375rem;
    line-height: 1.5625rem; } }

@media only screen and (max-width: 34.9999rem) {
  .title-alternate {
    font-size: 2.5rem;
    line-height: 4.5rem;
    margin-bottom: 1rem; }
  .heading-1 {
    font-size: 2.5rem;
    line-height: 2.5rem; }
  .heading-2 {
    font-size: 1.75rem;
    line-height: 1.75rem; }
  .heading-3 {
    font-size: 1.75rem;
    line-height: 2rem; }
  .heading-4 {
    font-size: 1.5rem;
    line-height: 2rem; }
  .body-text {
    font-size: 0.9375rem;
    line-height: 1.5625rem; }
  .nav-link {
    font-family: "Fraunces", serif;
    font-weight: black;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 0px;
    line-height: 2rem; } }

.btn-main {
  font-family: "Fraunces", serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  color: #fefcf6;
  background-color: #0e8684;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  padding: 0.7em 1.4em; }

.btn-main:hover {
  background-color: #65d2d0;
  transition: all 0.3s ease-in-out; }

.btn-main:disabled {
  background-color: #848990; }

.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 85rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.header__logo {
  max-height: 1.5rem; }

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.3rem; }
  .header__nav-menu {
    list-style: none;
    display: flex; }
  .header__nav-item + .header__nav-item {
    margin-left: 2rem; }
  .header__nav-link {
    color: #848990; }
    .header__nav-link:hover {
      color: #343e4c;
      transition: all 0.3s; }

.header__hamburger {
  display: none; }
  .header__hamburger-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010; }

.header__intro {
  background-size: cover;
  background-repeat: no-repeat; }
  .header__intro--home {
    border-radius: 0.625rem;
    background-image: url(../assets/home/desktop/image-hero-coffeepress.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .header__intro--about {
    background-image: url(../assets/about/desktop/image-hero-whitecup.jpg); }
  .header__intro--plan {
    background-image: url(../assets/plan/desktop/image-hero-blackcup.jpg); }
  .header__intro-text-content {
    padding: 4.2rem 2.8rem;
    width: 60%; }
  .header__intro-heading-1 {
    color: #fefcf6; }
  .header__intro-description {
    color: #fefcf6; }
  .header__intro-btn-container {
    margin-bottom: 1.3rem; }

@media only screen and (max-width: 46rem) {
  .header__intro--home {
    background-image: url(../assets/home/tablet/image-hero-coffeepress.jpg); }
  .header__intro--about {
    background-image: url(../assets/about/tablet/image-hero-whitecup.jpg); }
  .header__intro--plan {
    background-image: url(../assets/plan/tablet/image-hero-blackcup.jpg); }
  .header__intro-text-content {
    padding: 4.2rem 2.8rem;
    width: 75%; } }

@media only screen and (max-width: 34.9rem) {
  .header__intro--home {
    background-image: url(../assets/home/mobile/image-hero-coffeepress.jpg); }
  .header__intro--about {
    background-image: url(../assets/about/mobile/image-hero-whitecup.jpg); }
  .header__intro--plan {
    background-image: url(../assets/plan/mobile/image-hero-blackcup.jpg); }
  .header__intro-text-content {
    padding: 4.2rem 0.4rem;
    width: 100%;
    text-align: center; }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.3rem; }
    .header__nav-menu {
      position: fixed;
      right: -100%;
      top: 4.45rem;
      flex-direction: column;
      background-image: linear-gradient(#fefcf6 60%, rgba(163, 163, 163, 0.7));
      border-radius: 0.625rem;
      text-align: center;
      transition: all 0.5s;
      margin-left: auto;
      margin-right: auto;
      width: 87%;
      padding-top: 1rem;
      padding-bottom: 11.3rem; }
      .header__nav-menu.active {
        right: 0;
        left: 50%;
        transform: translate(-50%, 0); }
    .header__nav-item {
      margin: 1.1rem 0; }
    .header__nav-item + .header__nav-item {
      margin-left: 0; }
    .header__nav-link {
      color: #343e4c; }
      .header__nav-link:hover {
        color: #848990;
        transition: all 0.3s; }
  .header__hamburger {
    display: block;
    cursor: pointer; }
    .header__hamburger-bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010; }
    .header__hamburger.active .header__hamburger-bar:nth-child(2) {
      opacity: 0; }
    .header__hamburger.active .header__hamburger-bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg); }
    .header__hamburger.active .header__hamburger-bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg); } }

.footer {
  background-color: #2c343e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2.5rem;
  padding-inline: 4rem;
  margin-bottom: 3rem; }
  .footer__navigation {
    display: flex;
    align-items: center;
    column-gap: 5rem; }
  .footer__logo {
    height: 1.625rem; }
  .footer__nav-menu {
    list-style: none;
    display: flex;
    column-gap: 2rem; }
  .footer__nav-link {
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 0.9375rem;
    text-transform: uppercase;
    letter-spacing: 0.92px;
    line-height: 0.9375rem;
    text-decoration: none;
    color: #848990; }
  .footer__nav-link:hover {
    color: #fefcf6;
    transition: all 0.3s; }
  .footer__social {
    display: flex;
    column-gap: 1.3rem; }
    .footer__social-icon:hover {
      filter: invert(0.2) sepia(0.5) saturate(1) hue-rotate(334.8deg) brightness(0.96); }

@media only screen and (max-width: 46rem) {
  .footer {
    background-color: #2c343e;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    flex-direction: column; }
    .footer__navigation {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
    .footer__logo {
      height: 1.625rem;
      margin-bottom: 1.3rem; }
    .footer__nav-menu {
      margin-bottom: 3rem; } }

@media only screen and (max-width: 35rem) {
  .footer {
    background-color: #2c343e;
    display: flex; }
    .footer__navigation {
      display: flex; }
    .footer__logo {
      height: 1.625rem; }
    .footer__nav-menu {
      flex-direction: column;
      padding: 2.2rem 0 0 0; }
    .footer__nav-item {
      margin-bottom: 1rem; } }

.collection {
  text-align: center;
  margin-top: 7rem; }
  .collection__heading--main {
    background: linear-gradient(to bottom, #848990, #fefcf6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .collection__items-container {
    display: flex;
    margin-bottom: 7rem;
    column-gap: 1.5em;
    width: 86%;
    margin-inline: auto; }
  .collection__item {
    color: #343e4c; }
    .collection__item-image {
      max-height: 11.9rem;
      margin-bottom: 3rem; }
    .collection__item-heading {
      margin-bottom: 1rem; }

@media only screen and (max-width: 48rem) {
  .collection {
    text-align: center; }
    .collection__items-container {
      flex-direction: column; }
    .collection__item {
      color: #343e4c;
      display: flex;
      align-items: center;
      margin-bottom: 3rem; }
      .collection__item-text {
        text-align: start;
        margin-top: 1.3rem;
        align-self: start; }
      .collection__item-image {
        margin-bottom: 0; } }

@media only screen and (max-width: 34.9rem) {
  .collection {
    text-align: center; }
    .collection__item {
      color: #343e4c;
      margin-bottom: 4rem;
      flex-direction: column;
      align-items: center; }
      .collection__item-image {
        margin-bottom: 0.8rem;
        max-height: 9.4rem; }
      .collection__item-text {
        text-align: center; } }

.why {
  text-align: center;
  margin-bottom: 7rem;
  color: #fefcf6;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .why__intro {
    background-color: #2c343e;
    border-radius: 0.625rem;
    padding: 4rem 0 14rem 0; }
    .why__intro-heading {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 1rem; }
    .why__intro-description {
      width: 70%;
      margin: 0 auto; }
  .why__items-container {
    display: flex;
    column-gap: 1.1rem;
    margin-top: -10rem; }
  .why__item {
    background-color: #0e8684;
    border-radius: 0.625rem;
    max-width: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2.5rem 4rem 2.5rem; }
    .why__item-icon {
      margin-bottom: 2.5rem; }
    .why__item-heading {
      margin-bottom: 1rem; }

@media only screen and (max-width: 46rem) {
  .why__intro {
    padding-bottom: 23rem; }
  .why__items-container {
    flex-direction: column;
    margin-top: -18rem; }
  .why__item {
    max-width: 35rem;
    padding: 2.5rem;
    column-gap: 3rem;
    margin-bottom: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .why__item-icon {
      margin-bottom: 0;
      padding-left: 1rem; }
      .why__item-icon--bean {
        max-height: 3.5rem; }
      .why__item-icon--gift {
        max-height: 3.5rem; }
      .why__item-icon--truck {
        max-height: 2.4375rem; }
    .why__item-text {
      text-align: start; } }

@media only screen and (max-width: 35rem) {
  .why__intro {
    padding-bottom: 39rem; }
  .why__items-container {
    text-align: center;
    padding: 2rem 1rem 10rem 1rem;
    margin-top: -37rem; }
  .why__item {
    flex-direction: column; }
    .why__item-text {
      text-align: center; }
    .why__item-icon {
      margin-bottom: 3rem;
      margin-top: 2rem;
      padding-left: 0; } }

.how__heading {
  color: #848990;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.how__line-decor {
  margin-bottom: 2rem; }

.how__line {
  display: inline-block;
  width: 110%;
  margin-left: 1.3rem;
  border-top: 2px solid #fdd6ba; }
  .how__line--3 {
    border-top: 0.2px solid transparent; }

.how__circle-shape {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #0e8684;
  margin-top: -1.3rem;
  background: #fefcf6;
  z-index: 2000;
  position: relative; }

.how__steps-container {
  display: flex; }

.how__item {
  padding-right: 2rem; }
  .how__item-number {
    color: #fdd6ba;
    font-family: "Fraunces", serif;
    font-size: 4.5rem;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 0.7rem; }
  .how__item-heading {
    color: #343e4c;
    margin-bottom: 2rem; }
    .how__item-heading--plan {
      color: #fefcf6; }
  .how__item-description {
    color: #343e4c; }
    .how__item-description--plan {
      color: #fefcf6; }

.how__btn-container {
  margin-block: 3.9rem; }

@media only screen and (max-width: 46rem) {
  .how__item {
    margin-bottom: 2.7rem; }
    .how__item-number {
      font-size: 4.5rem; } }

@media only screen and (max-width: 35rem) {
  .how {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .how__heading {
      text-align: center; }
    .how__line-decor {
      display: none; }
    .how__steps-container {
      flex-direction: column;
      text-align: center; }
    .how__item {
      padding-right: 0; }
      .how__item-number {
        font-size: 4.5rem; } }

.how {
  margin-bottom: 7rem; }

@media only screen and (max-width: 46rem) {
  .how {
    margin-bottom: 7rem; } }

@media only screen and (max-width: 35rem) {
  .how {
    margin-bottom: 7rem; } }
