// Collection Section on Home Page

.collection {
  text-align: center;
  margin-top: 7rem;
  &__heading--main {
  }

  &__items-container {
    display: flex;
    margin-bottom: 7rem;
    column-gap: 1.5em;
    width: 86%;
    margin-inline: auto;
  }

  &__item {
    color: $color-bluegrey-dark;

    &-image {
      max-height: 11.9rem;
      margin-bottom: 3rem;
    }
    &-heading {
      margin-bottom: 1rem;
    }
    &-description {
    }
  }
}

// COLLECTION MEDIA QUERIES TABLET

@media only screen and (max-width: 48rem) {
  .collection {
    text-align: center;
    &__heading--main {
    }

    &__items-container {
      flex-direction: column;
    }

    &__item {
      color: $color-bluegrey-dark;
      display: flex;
      align-items: center;
      margin-bottom: 3rem;

      &-text {
        text-align: start;
        margin-top: 1.3rem;
        align-self: start;
      }
      &-image {
        margin-bottom: 0;
      }
      &-heading {
      }
      &-description {
      }
    }
  }
}

// COLLECTION MEDIA QUERIES MOBILE

@media only screen and (max-width: 34.9rem) {
  .collection {
    text-align: center;
    &__heading--main {
    }

    &__items-container {
    }

    &__item {
      color: $color-bluegrey-dark;
      margin-bottom: 4rem;
      flex-direction: column;
      align-items: center;

      &-image {
        margin-bottom: 0.8rem;
        max-height: 9.4rem;
      }

      &-text {
        text-align: center;
      }
      &-heading {
      }
      &-description {
      }
    }
  }
}
