// UNCOMPROMISING SECTION
//  SET UP AS A GRID INSTEAD TO MAKE IT MORE EASILY RESPONSIVE!!!!

.uncompromising {
  position: relative;
  &__textbox-container {
    padding: 3rem 0 10rem 3.7rem;
    background-color: $color-bluegrey-dark;
    border-radius: 10px;
  }
  &__text {
    color: $color-cream-light;
    width: 50%;
  }

  &__heading {
    margin-block: 2rem;
  }

  &__paragraph {
  }

  &__picture {
  }

  &__image {
    border-radius: 10px;
    position: absolute;
    top: -6rem;
    right: 4rem;
  }
}

// UNCOMPROMISING MEDIA QUERIES TABLET

// UNCOMPROMISING MEDIA QUERIES MOBILE
